@model IEnumerable<CRUDMVC.Models.Entities.Category>
@{
    ViewBag.Title = "Index";
    var model = Model;
}
<br />
<div class="row">
    <a href='@Url.Action("InsertUpdate","Category")' class="btn btn-primary">Add</a>
</div>
<br />
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>

}
<div class="row">
    <table class="table table-hover" id="table-category">
        <thead>
            <tr>
                <th>Mã Loại</th>
                <th>Tên Loại</th>
                <th>Mô tả</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        <div class="pull-right">
                            <a href="@Url.Action("InsertUpdate", "Category", new { id = item.ID})" class="btn btn-warning btn-sm margin-right">
                                <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                            </a>
                            <a data-id="@item.ID"
                               data-name="@item.Name"
                               data-url="@Url.Action("Delete", "Category", new { id = item.ID })" class="btn btn-danger btn-sm btn-delete">
                                <span class="glyphicon glyphicon-trash "></span><span class="hidden-xs"> Delete</span>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


