@model CRUDMVC.Models.Entities.Category
@if (Model == null || Model.ID == 0)
{
    ViewBag.Title = "Thêm mới";
}
else
{
    ViewBag.Title = "Cập nhật";
}
<div class="panel">
    @using (Html.BeginForm("InsertUpdate", "Category", FormMethod.Post, new { @class = "", id = "form-category" }))
    {
        @Html.ValidationSummary("", new { @class = "list-unstyled" })

        if (Model != null && Model.ID != 0)
        {
            @Html.HiddenFor(n => n.ID)
        }

        <div class="form-group multi-control">
            <label>Tên loại lớp</label>
            @Html.TextBoxFor(s => s.Name, new { @class = "form-control", placeholder = "Tên loại"})

        </div>

        <div class="form-group multi-control">
            <label>Mô tả</label>
            @Html.TextAreaFor(s => s.Description, new { @class = "form-control", placeholder = "Mô tả"})

        </div>

        if (Model == null || Model.ID == 0)
        {
            <button type="submit" class=" btn btn-primary">Tạo mới</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        }

        <a href='@Url.Action("Index","Category")' class="btn btn-default">Quay về</a>
    }
</div>